.hero {
    width: 100%;
    height: 200px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(mobile) {
        height: 300px;
    }

    @include breakpoint(tablet) {
        height: 400px;
    }

    @include breakpoint(desktop) {
        height: 500px;
    }
}
