/* Mixin for aspect ratio  */
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.movie-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.movie__title {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.movie__date {
    display: block;
    margin-bottom: 0.5em;
}

.movie__image {
    width: 60px;
    @include breakpoint(mobile) {
        width: 100%;
    }
    @include breakpoint(desktop) {
        height: 393px;
    }
}

.movie__description {
    @include font-size(14px);
    overflow-y: scroll;
    display: block;

    @include breakpoint(desktop) {
        max-height: 330px;
    }
}

/* entire container, keeps perspective */
.flip-container {
    @include breakpoint(mobile) {
    	perspective: 1000px;
    }
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    @include breakpoint(mobile) {
        transform: rotateY(180deg);
    }
}

.flip-container.active {
    .flipper {
        @include breakpoint(mobile) {
            transform: rotateY(180deg);
        }
    }
}

.flip-container {
	width: 100%;
    margin-top: 2em;

    @include breakpoint(mobile) {
        @include aspect-ratio(2, 3);
        width: 48%;
    }

    @include breakpoint(tablet) {
        width: 30%;
    }

    @include breakpoint(desktop) {
        width: 23%;
    }
}

/* flip speed goes here */
.flipper {
    display: block;
    @include breakpoint(mobile) {
    	transition: 0.6s;
    	transform-style: preserve-3d;
    	position: relative;
    }
}

/* hide back of pane during swap */
.front, .back {
    @include breakpoint(mobile) {
    	backface-visibility: hidden;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
}

/* front pane, placed above back */
.front {
    width: 60px;

    @include breakpoint(mobile) {
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        width: auto;
    	z-index: 2;
    	/* for firefox 31 */
    	transform: rotateY(0deg);
    }
}

/* back, initially hidden pane */
.back {
    @include breakpoint(mobile) {
    	transform: rotateY(180deg);
        background-color: #fff;
        height: 100%;
        position: relative;


        &:before {
            content: "";
            position: absolute;
            height: 30px;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, transparent 0%, #fff 100%);

            @include breakpoint(desktop) {
                height: 50px;
            }
        }
    }
}
